Repository vladistan/repo-find-orphans: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyright

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.6.0
default_install_hook_types: [pre-commit, post-checkout]
repos:

# package management
- repo: local
  hooks:
    - id: poetry-check
      name: check pyproject.toml for valid Poetry config
      entry: bash -c 'poetry check --lock -vv --directory services/controller'
      language: system
      pass_filenames: false
      verbose: true
      files: 'pyproject.toml$|poetry.lock$'

# Reformatting (should generally come before any file format or other checks, because reformatting can change things)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c  # frozen: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                .github/pull_request_template.md|
                .devcontainer/devcontainer-lock.json|
                .*__snapshots__/.*\.raw|
            )$
      - id: pretty-format-json
        exclude: |
            (?x)^(
                .devcontainer/devcontainer.json|
                .devcontainer/devcontainer-lock.json|
            )$
        args: [--autofix, --no-sort-keys]

# Invalid File Checks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c  # frozen: v4.6.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=123']
        exclude: (systemctl.notpy)|(poetry.lock)|(services/ui/static/bootstrap-5.3.3-dist)
    -   id: check-json
        exclude: 'devcontainer.json' # there's comments in this file
    -   id: check-yaml
        exclude: .copier-answers.yml # This is an autogenerated YAML file by Copier that throws 'found unhashable key' errors
    -   id: check-xml
    -   id: check-merge-conflict
    -   id: check-case-conflict


# Linting

-   repo: https://github.com/Lucas-C/pre-commit-hooks-markup
    rev: 501f3d60cee13c712492103343bc23efdc7b3d1f #v1.0.1
    hooks:
    -   id: rst-linter

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 21d9bff1d62aaf03230baa6b804b9074255fa9b8  # frozen: v0.4.1
    hooks:
    -   id: ruff
        name: ruff-src
        args: [ --fix, --config=./ruff.toml ]
        files: 'src/.+\.py$|env\.py$'
    -   id: ruff
        name: ruff-tests
        args: [ --fix, --config=./ruff-test.toml ]
        files: tests?/.+\.py$
    -   id: ruff-format
        exclude: 'systemctl.notpy'

-   repo: https://github.com/pylint-dev/pylint
    rev: 053c2c3a25f97f043e10cdd41d2609e495a68f57  # frozen: v3.1.0
    hooks:
    -   id: pylint
        name: pylint
        args:
        - --rcfile=./pyproject.toml
        verbose: true

-   repo: local
    hooks:
    -   id: pyright
        alias: pyright
        name: pyright
        entry: bash -c "poetry run pyright"
        files: '^.+\.py$'
        # don't pass filenames else the command line sees them twice
        pass_filenames: false
        language: system
        types: [python]
        # use require_serial so that script is only called once per commit
        require_serial: true
        # print the number of files as a sanity-check
        verbose: true

Fix readme
  README.md
  pyproject.toml
Due: poetry-check

Fix a bug of false negative when orphan has a common prefix with the existing project
  poetry.lock
  pyproject.toml
  src/repo_find_orphans/scan.py
Due: poetry-check, pyright

Add support for finding remote orphans
  README.md
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/repo_find_orphans/cli.py
  src/repo_find_orphans/manifest.py
  src/repo_find_orphans/parse.py
  src/repo_find_orphans/py.typed
  src/repo_find_orphans/remote.py
  src/repo_find_orphans/scan.py
  src/repo_find_orphans/selections.py
  src/repo_find_orphans/types/project.py
  src/repo_find_orphans/types/remote.py
  tests/conftest.py
  tests/fixtures/repo/repo.xml
  tests/fixtures/repo/selections.yaml
  tests/test_githost.py
  tests/test_read_repo.py
Due: poetry-check, pyright

Small fix to work with older manifests
  pyproject.toml
  src/repo_find_orphans/scan.py
Due: poetry-check, pyright

Fix pre-commit checks
  README.md
  src/repo_find_orphans/py.typed
  src/repo_find_orphans/types/remote.py
Due: pyright

Update python version
  poetry.lock
  pyproject.toml
Due: poetry-check

Add announcement
  announce-0.1.0.md
Due: none
